<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo mb-5">
        <a routerLink="" class="app-brand-link">
            <span   class="material-icons"  style="color: rgb(190, 176, 27);">
star                    </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Star</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div routerLink=""  data-i18n="Analytics">Dashboard</div>
            </a>
        </li>


        <li class="menu-item ">
            <a class="menu-link">
                <span   class="material-icons">
                    person       </span>     
                <div routerLink="/addAgent" style="margin-left: 10px;" data-i18n="Analytics">Agents</div>
            </a>
        </li>

        <li class="menu-item ">
            <a class="menu-link">
                <span   class="material-icons">
                    view_module       </span>     
                <div routerLink="/addClient" style="margin-left: 10px;" data-i18n="Analytics">Clients</div>
            </a>
        </li>


        <li class="menu-item ">
            <a class="menu-link">
              <i class="menu-icon tf-icons bx bx-cube-alt"></i>

                <div  style="margin-left: 10px;">Sinistres</div>
            </a>
        </li>



        <li class="menu-item ">
            <a class="menu-link">
                <span class="material-icons">
                    description
                    </span>
                <div  style="margin-left: 10px;">Factures</div>
            </a>
        </li>

       

       
    </ul>
</aside>